fastapi>=0.110
uvicorn[standard]>=0.27
python-multipart>=0.0.9
pydantic>=2.6
torch>=2.1
opencv-python-headless>=4.9
numpy>=1.26
scipy>=1.11
streamlit>=1.32
requests>=2.31
Pillow>=10.2
timm>=0.9.0           
matplotlib>=3.5
segmentation-models-pytorch>=0.3.3
torchvision>=0.16
pydicom==3.0.2